
.App {
  text-align: center;
}

.App__header {
  background-color: #282c34;
  min-height: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

button,
a {
  all: unset;
}

.App__main {
  height: 100%;
}